* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;

}

.header {
    height: calc(80 / 1440 * 100vw);
    padding: calc(18 / 1440 * 100vw) calc(50 / 1440 * 100vw) calc(12 / 1440 * 100vw) calc(30 / 1440 * 100vw);
    display: flex;
    background: white;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-family: "Inter";
    font-weight: 700;
}

.header__logo {
    width: 222px;
    height: 43px;
    margin-right: calc(30 / 1440 * 100vw);

}

.header__link {
    margin-left: auto;
    align-self: center;
    font-size: calc(24 / 1440 * 100vw);
    margin-bottom: 0.3vw;
}

.header__title {
    font-family: 'Roboto' , bold;
    font-style: normal;
    align-self: center;
    font-size: calc(36 / 1440 * 100vw);
    color: #787878;
    
}

.header__registration {
    text-decoration: none;
    color: #787878;
    
}

.header__login {
    text-decoration: none;
    color: #1A226B;
    margin-left: calc(23.04 / 1440 * 100vw);

}

.form {
    background-color:white;

}

.form__container {
    display: flex;
    flex-direction: column;

}

.form-container__heading {
    color: #787878;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 700; 
}

.form-container__email {
    position: relative;
    
}

.form-container__password {
    position: relative;
    
}
.form-container__label-email {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #787878;
}

.form-container__input-email {
    position: absolute;
    border: 2px solid #787878;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #787878;
}

.form-container__input-email::placeholder {
    color: #CCCCCC;
}


.form-container__label-password {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #787878;
}

.form-container__input-password {
    position: absolute;
    border: 2px solid #787878;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #787878 ;
}

.form-container__input-password::placeholder {
    color: #CCCCCC;
}


.form-container__checkbox {
    align-items: center;
    display: flex;
    position: relative;
    
}

.form-container__input-checkbox {
    position: absolute;
    opacity: 0;  
}

.form-container__label-checkbox {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: grey;
    
}

.form-container__label-checkbox::before {
    content: '';
    position: absolute;
    color: grey;
    box-sizing: border-box;
    border: 2px solid grey;
}

.form-container__input-checkbox:checked + .form-container__label-checkbox::before {
    content: '✓';
    color: white;
}

.form-container__button {
    background: #1A226B;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
} 


@media screen and (min-width: 769px) {

    .header__logo {
        width: calc(222 / 1440 * 100vw);
        height: calc(43 / 1440 * 100vw);
    }
    .form {
        width: calc(600 / 1440 * 100vw);
        height: calc(412 / 1440 * 100vw); 
        margin: calc(180 / 1440 * 100vw) auto;
        box-shadow: 0px 0px calc(40 / 768 * 100vw) calc(10 / 768 * 100vw) rgba(0, 0, 0, 0.25);
        
    }

    .form__container {
        width: calc(600 / 1440 * 100vw);
        height: 100%;
        margin: calc(25 / 1440 * 100vw);
    }

    .form-container__heading {
        font-size: calc(50 / 1440 * 100vw);
        line-height: calc(50 / 1440 * 100vw);
        margin: calc(15 / 1440 * 100vw) calc(55 / 1440 * 100vw) calc(15 / 1440 * 100vw) calc(10 / 1440 * 100vw);
        text-align: center;
    }

    /*.form-container__email, .form-container__password {
        height: 81px;
    }*/



    .form-container__input-email {
        margin: 0;
        padding-left: calc(15 / 1440 * 100vw);
        width: calc(509 / 1440 * 100vw);
        height: calc(49 / 1440 * 100vw);
        font-size: calc(28 / 1440 * 100vw);
        line-height: calc(36 / 1440 * 100vw);
        
    }

    .form-container__label-email {
        margin: calc(-12 / 1440 * 100vw) 0px 0px;
        font-size: calc(16 / 1440 * 100vw);
    }

    .form-container__input-password {
        margin: calc(40 / 1440 * 100vw) 0px calc(20 / 1440 * 100vw) 0px;
        padding-left: calc(15 / 1440 * 100vw);
        width: calc(509 / 1440 * 100vw);
        height: calc(49 / 1440 * 100vw);
        font-size: calc(28 / 1440 * 100vw);
        line-height: calc(36 / 1440 * 100vw);
        
    }

    .form-container__label-password {
    font-size: calc(16 / 1440 * 100vw);
    margin: calc(29 / 1440 * 100vw) 0px 0px;
    }

    .form-container__input:focus ~ .form-container__label,
    .form-container__input:not(:placeholder-shown) ~ .form-container__label {
        top: 5%;
        left: 10px;
        font-size: calc(16 / 1440 * 100vw);
    }


   /* .form-container__checkbox {
        top: 0px;
        height: 24px;
    }

    .form-container__input-checkbox {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .form-container__label-checkbox {
        font-size: 14px;
        line-height: 16px;
        margin-left: 34px;
        padding-top: 2px;
    }

    .form-container__label-checkbox::before {
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        
    }

    .form-container__input-checkbox:checked + .form-container__label-checkbox::before {
        font-size: 30px;
        font-weight: 700;
    }*/

    .form-container__button {
        height: calc(52 / 1440 * 100vw);
        width: calc(180 / 1440 * 100vw);
        margin: calc(85 / 1440 * 100vw) calc(80 / 1440 * 100vw);
        font-size: calc(24 / 1440 * 100vw);
        line-height: calc(16 / 1440 * 100vw);
        padding: calc(5 / 1440 * 100vw) 0px calc(10 / 1440 * 100vw);
    }
}

@media screen and (max-width: 768px) {
   
    .form {
        width: calc(600 / 768 * 100vw);
        height: calc(383 / 768 * 100vw); 
        margin: calc(60 / 768 * 100vw) auto;
        box-shadow: 0px 0px calc(40 / 768 * 100vw) calc(10 / 768 * 100vw) rgba(0, 0, 0, 0.25);
    }

    .form__container {
        width: calc(100% - (calc(90 / 768 * 100vw)));
        /*height: 100% */
        margin: 0 auto;
    }

    .form-container__heading {
        font-size: calc(60 / 768 * 100vw);
        line-height: calc(50 / 768 * 100vw);
        margin: calc(38 / 768 * 100vw) auto calc(21 / 768 * 100vw);
    }

    .form-container__email {
        height: calc(84 / 768 * 100vw);
    }

    .form-container__password {
        height: calc(86 / 768 * 100vw);
    }

    .form-container__label-email {
        
        font-size: calc(16 / 768 * 100vw);
        
    }

    .form-container__label-password {
        margin: 0 0 calc(3 / 768 * 100vw) 0;
        font-size: calc(16 / 768 * 100vw);
    }

    .form-container__input-email {
        margin-top: calc(20 / 768 * 100vw);
        margin-bottom: calc(16 / 768 * 100vw);
        padding-left: calc( 15 / 768 * 100vw);
        width: 100%;
        height: calc(49 / 768 * 100vw);
        font-size: calc(28 / 768 * 100vw);
        line-height: calc(36 / 768 * 100vw);
    
    }

    .form-container__input-password {
        margin-top: calc(20 / 768 * 100vw);
        margin-bottom: calc(16 / 768 * 100vw);
        padding-left: calc( 15 / 768 * 100vw);
        width: 100%;
        height: calc(49 / 768 * 100vw);
        font-size: calc(28 / 768 * 100vw);
        line-height: calc(36 / 768 * 100vw);
    
    }

    .form-container__input:focus ~ .form-container__label,
    .form-container__input:not(:placeholder-shown) ~ .form-container__label {
        top: 5%;
        left: calc(10 / 768 * 100vw);
        font-size: calc(24 / 768 * 100vw);
    }

    .form-container__button {
        height: calc(52 / 768 * 100vw);
        width: calc(180 / 768 * 100vw);
        margin: calc(20 / 768 * 100vw) auto;
        font-size: calc(32 / 768 * 100vw);
        line-height: calc(16 / 768 * 100vw);
    } 

    
    .header__logo {
        width: calc(120 / 768 * 100vw);
        height: calc(25 / 768 * 100vw);
        /*margin: calc(30 / 768 * 100vw);*/
    }
}
